#arenaImg {
    background-image: url('./RvZImages/combatGameBackground.png');
    width : 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#Goro {
    background-image: url('./RvZImages/Goro.png');
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    top: 500px;
}
